@model HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        Error Message :@Model.Exception.Message
        <br />
         Controller: @Model.ControllerName
        <br />
         Action: @Model.ActionName
    </hgroup>
</body>
</html>
