@model  HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h1>ErrorMessage :@Model.Exception.Message</h1>
        <h2>Controller :@Model.ControllerName</h2>
        ActionName:@Model.ActionName
    </hgroup>
</body>
</html>
