@using MVC学习.ViewModels
@model EmployeeListViewModel
@{ Layout = null; }
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>

<body>
    <div style="text-align:left"> Hello, @Model.UserName </div>
    <div><a href="~/Authentication/Logout">Logout</a></div>
    <hr />
    <a href="/Employee/AddNew">Add New</a>

    <div>
        <table>

            <tr>

                <th>Employee Name</th>

                <th>Salary</th>

            </tr>
            @foreach (EmployeeViewModel item in Model.Employees)
            {
                <tr>
                    <td>
                        @item.EmployeeName
                    </td>
                    <td style="background-color:@item.SalaryColor"> @item.Salary </td>
                </tr>
            }

        </table>

    </div>

</body>

</html>