@using MVC学习.ViewModels
@model FileUploadViewModel

@{ 

    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleSection
{

    Bulk Upload
}
@section ContentBody
{
<form action="/BulkUpload/Upload" method="post" enctype="multipart/form-data">
    <input type="file"  name="fileUpload" value="" /><br />
    <input type="submit" name="submit" value="Upload"/>
</form>
}



